@()

@main("Gitterific") {
    <div class="d-flex justify-content-center bg-info bg-opacity-50 mb-3" style="padding: 10px;">
        <h1>Welcome to Gitterific!</h1>
    </div>
    <hr/>
    <div class="row" style="margin: 0px 10px;">
        <div class="col-sm-11">
            <input class="form-control" id="searchTerm" type="text" placeholder="Enter search term"/>
        </div>
        <div class="col-sm-1">
            <button id="goButton" type="button" class="btn btn-info" onclick="search()"><span class="glyphicon glyphicon-search"></span>Go</button>
        </div>
    </div><hr/>
    <div class="row" style="margin: 0px 10px;">
        <div class="col-sm-12" id="searchResultDiv">
        </div>
    </div>
}
